html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
canvas {
    background-color: white;
    position: absolute;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#select_implementation_type {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#select_implementation_type ul {
    list-style-type: none;
    margin: 0;
}

#select_rank_value {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#select_num_ants_value {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#select_fps_value {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.slider label {
    display: inline-block;
    width: 20%;
}

.slider input {
    display: inline-block;
    width: 60%;
}

.slider span {
    display: inline-block;
    width: 15%;
}